
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TranswarrantyMaster.cshtml";
}

<!-- Banner Starts Here -->
<!-- Arun Update -->
<!-- Ajisha Update -->
<!-- Arun update 2 Update -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">

                    <h4>Wisdom Insights<br>Strategy Experience</h4>
                    <p>Governed by eminent legal & finance professionals on the Board and is managed by experienced professionals</p>
                    <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Our Services</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">

                    <h4>Full Service<br>Investment Bank</h4>
                    <p>Transwarranty Finance is a leading Indian Financial Services company servicing a large number of companies in India</p>
                    <a href="@Url.Action("contact","Transwarranty")" class="filled-button">Contact Us</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">

                    <h4>Broking / Distribution<br>&amp; Merchant Banking</h4>
                    <p>Performance oriented culture with ethics & values and objective of being a socially relevant company.</p>
                    <a href="@Url.Action("Aboutus","Transwarranty")" class="filled-button">learn more</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Request a call back right now ?</h4>
                <span>Strong clientele that includes large groups and a large number of medium and large companies across India.</span>
            </div>
            <div class="col-md-4">
                <a href="contact" class="border-button">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Financial <em>Services</em></h2>
                    <span>Serving customers in India for the past 20 years</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/img/service_01.jpg" alt="">
                    <div class="down-content">
                        <h4>Investment Banking</h4>
                        <p>Corporate Finance experts provide comprehensive financial advice and execution expertise to the corporates</p>
                        <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/img/service_02.jpg" alt="">
                    <div class="down-content">
                        <h4>Corporate Finance</h4>
                        <p>Transwarranty is one of the leading Financial Services Company in the Public Sector engaged in Bills discounting</p>
                        <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/img/service_03.jpg" alt="">
                    <div class="down-content">
                        <h4>Trade Finace </h4>
                        <p>SME finance is the funding of small and medium-sized enterprises, and represents a major function of the</p>
                        <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/img/service_04.jpg" alt="">
                    <div class="down-content">
                        <h4>SME </h4>
                        <p>Transwarranty Finance Limited presents Margin Trade Funding, which will enable our clients to buy shares by</p>
                        <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/img/service_05.jpg" alt="">
                    <div class="down-content">
                        <h4>Margin Funding</h4>
                        <p>Transwarranty Finance Limited presents Margin Trade Funding, which will enable our clients to buy shares by paying</p>
                        <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/img/service_06.jpg" alt="">
                    <div class="down-content">
                        <h4>Personal Finance</h4>
                        <p>Transwarranty will provides instant Personal Loans for Holiday, Education, Other specified end use</p>
                        <a href="@Url.Action("Services","Transwarranty")" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>Transwarranty Finance LTD</span>
                    <h2>Our solutions for your <em>business growth</em></h2>
                    <p>
                        Our core strength is structuring and execution of
                        transactions involving Public / Private / Strategic Equity,
                        Mergers & Acquisitions, Term Loans, Working capital
                        (Fund based and Non Fund Based), Project Loans, ECBs,
                        Acquisition Finance, Corporate Loans, Equipment
                        Finance, Securitization of receivables, Structured
                        Finance etc.<br><br>Backed by a dedicated team of professionals with
                        domain expertise and leveraging our strong relationship
                        and network with Banks, Financial Institutions, Funds
                        etc., we advise our clients by efficiently structuring their
                        funding requirements at various stages of their business
                        lifecycle, thereby adding value for our clients.
                    </p>
                    <a href="" class="filled-button">Read More</a>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">500</div>
                            <div class="count-title">Corporate Clients</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">15000</div>
                            <div class="count-title">Clients</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">200</div>
                            <div class="count-title">Outlets</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">250</div>
                            <div class="count-title">Employees</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/img/more-info.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>Who we are</span>
                                <h2>Get to know about <em>our company</em></h2>
                                <p>Transwarranty Finance Limited (Transwarranty) is a Mumbai (India) Head Quartered, full service Financial & Capital Market Services Company, providing a wide range of services to over 1,000 Large, Small and Medium companies and thousands of retail clients all over India, since 1994.<br><br>Transwarranty is a Reserve Bank of India (RBI) registered Non Banking Finance Company (NBFC) listed on both National Stock Exchange (NSE) and Bombay Stock Exchange (BSE)</p>
                                <a href="#" class="filled-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Key <em>Transactions</em></h2>
                    <span>Our Valueable clients across different sectors</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/img/Customer/1.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/2.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/3.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/4.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/5.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/6.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/7.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/8.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/9.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/10.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/11.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/12.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/13.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/14.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/15.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/16.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/17.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/18.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/19.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/20.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/21.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/22.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/23.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/24.png" class="customer-image" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Customer/25.png" class="customer-image" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="callback-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em>call back</em></h2>
                    <span>Etiam suscipit ante a odio consequat</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-partners owl-carousel">



                </div>
            </div>
        </div>
    </div>
</div>

